/* Navbar */

.navbar .navbar-brand {
  font-size: large !important;
}

li.nav-item .shopping_cart {
  padding-left: 5px !important;
}

.navbar .navbar-nav .nav-link:not(.btn) {
  font-size: 12px !important;
}

/* Register/ Login */

.login-page .card-login {
  border-radius: 0.25rem;
  padding-bottom: 0.7rem;
  min-width: 80% !important;
}

.red-text {
  font-size: 12px;
}

/* Home Page */

.home-page-header {
  padding-top: 60px !important;
}

.features {
  padding: 0px 0px !important;
}

.features-3 {
  padding-bottom: 0px !important;
}

.team5 {
  padding-bottom: 80px !important;
}

.section-image:after {
  background-color: rgba(10, 103, 121, 0.4) !important;
}