.navbar .navbar-brand {
  font-size: large !important;
}

li.nav-item .shopping_cart {
  padding-left: 5px !important;
}

.navbar .navbar-nav .nav-link:not(.btn) {
  font-size: 12px !important;
}

.login-page .card-login {
  border-radius: 0.25rem;
  padding-bottom: 0.7rem;
  min-width: 80% !important;
}


.red-text {
  font-size: 12px;
}