#botbSpotImage {
  background-size: 736px 556px;
  background-repeat: no-repeat;
  width: 736px;
  height: 556px;
}

#drawSvg {
  overflow: hidden;
  position: relative;
}

path {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#div_body {
  margin: 50px;
}

.live_coordinates {
  position: absolute;
  display: block;
  color: #ffffff;
  white-space: nowrap;
  font-size: 14px;
  z-index: 1001;
  text-shadow: 1px 0 0 #333333, -1px 0 0 #333333, 0 1px 0 #333333,
    0 -1px 0 #333333, 1px 1px #333333, -1px -1px 0 #333333, 1px -1px 0 #333333,
    -1px 1px 0 #333333;
}

#botbSpotZoomWrapper {
  background-size: 2944px 2224px;
  background-repeat: no-repeat;
  height: 2224px;
  width: 2944px;
  left: -111px;
  top: -1588px;
  margin-left: 0px;
  margin-top: 0px;
  background-image: url("/img/spot-the-ball/game/2(zoom).jfif");
}
#zoomSVG{
  height: 2224px;
  width: 2944px;
}

#botbSpotLens {
  width: 64px;
  height: 64px;
  min-width: 64px;
  min-height: 64px;
  border-radius: 64px;
  display: block;
  left: 0px;
  top: 0px;
}

#botbSpotCursor {
  left: 14px;
  top: 13px;
  margin-left: 0px;
  margin-top: 0px;
}

.lensComponent {
  position: absolute;
  z-index: 101;
  width: 64px;
  height: 64px;
  min-height: 64px;
  max-height: 64px;
  display: none;
}
#markdiv{
  z-index: 1002;
  position: absolute;
  overflow: hidden;
}

#botbSpotImage.has_lines #botbSpotLens {
  z-index: 1000;
}
#botbSpotLens {
  overflow: hidden;
  border: 1.5px solid #ff8201;
  border-radius: 32px;
}

#botbSpotCursor {
  width: 31px; 
  height: 31px; 
  z-index: 2000;
  position: absolute;
} 
#botbSpotCursor.played {
  z-index: 1 !important;
}

#botbSpotZoomWrapper {
  position: absolute;
  overflow: hidden;
}

div.botbSpotMarker,
div.botbSpotZoomMarker,
div.botbSpotPrePurchaseMarker,
div.botbSpotPrePurchaseZoomMarker {
  background-repeat: no-repeat;
  width: 19px;
  height: 19px;
  position: absolute;
  z-index: 2;
  display: block;
}


div.botbSpotMarker {
  z-index: 100;
}
div.botbSpotZoomMarker,
div.botbSpotPrePurchaseZoomMarker {
  z-index: 4;
}
div.botbSpotZoomMarkerFocus,
div.botbSpotMarkerFocus {
  background-position: 0 -19px;
  width: 19px;
  height: 19px;
  position: absolute;
  display: block;
}
div.botbSpotZoomMarkerFocus {
  z-index: 6;
}
div.botbSpotMarkerFocus {
  z-index: 3;
}


#botbSpotImage > svg {
  z-index: 1002;
}
#drawing_zoom {
  position: absolute;
  top: 0;
  left: 0;
}
#botbSpotImage.drawing_lines > svg {
  z-index: 102 !important;
}
#botbSpotImage.drawing_lines > svg path {
  opacity: 0.2;
}
#botbSpotImage.drawing_lines > svg path:last-child {
  opacity: 1;
}

#botbSpotImage.drawing_lines > svg path#ltest {
  opacity: 1;
}

#botbSpotNormalImage {
  opacity: 0;
  width: 735px;
  height: 556px;
}
#botbSpotGameWrapper {
  position: absolute;
  padding: 20px;
  margin: -20px;
  width: -webkit-calc(736px + (2 * 20px));
  width: calc(736px + (2 * 20px));
  height: -webkit-calc(556px + (2 * 20px));
  height: calc(556px + (2 * 20px));
}



#botbSpotImageWrapper .average-marker {
  display: none;
  position: absolute;
  z-index: 100;
}
#botbSpotImageWrapper .average-marker.active {
  display: block;
}
#botbSpotImageWrapper .average-marker-zoom {
  display: none;
  position: absolute;
  z-index: 4;
}
#botbSpotImageWrapper .average-marker-zoom.active {
  display: block;
}