.swiper-container {
  width: 100%;
  height: 90%;
  /*this gives the dimension of slider container*/
  /*these values will make the container as big as the parent div*/
  overflow: hidden;
  /*important parameter to not disrupt the container when slides increases in coverflow and other effect*/
}

.swiper-slide {
  width: 200px;
  height: 210px;
  /*this one holds the dimension of each slides and can be changed according to the user wish*/
}

.swiper-slide .cart-item {
  width: 200px;
  height: 210px;
}

.swiper-pagination {
  color: #2CA8FF;
  text-align: left;
  font-size: 18px;
  font-family: cb;
  font-weight: bold;
  text-shadow: 2px 2px 0 #f6f6f6, -2px 2px 0 #f6f6f6, -1px -1px 0 #f6f6f6,
    1px -1px 0 #f6f6f6;
  left: 8px;
  top: 210px;
  height: 0;
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.cart-ticket-check{
  position: absolute;
  margin: -15px 0 0 155px;
  display: block;
}
.no-visible{
  display: none;
}